
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.jumbotron {
  margin-top: 50px;
}

.blueText {
  color: #4bc0c0;
}

.pleaseSignIn {
  font-size: 25px;
}

.notYou {
  margin: 10px;
  font-size: 30px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}
.userIdButton {
  border-radius: 80px;
  background-color: #4bc0c0;
  border: none;
}

.searchBy {
  display: flex;
  flex-direction: row;
}

.dateDropdowns {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.toLabel {
  margin: 10px;
}

.yearDropdown {
  margin-right: 5px;
}

.monthDropdown {
  margin-right: 5px;
  margin-left: 5px;
}

.dayDropdown {
  margin-left: 5px;
}

.allTransactionsButton {
  margin: 20px 20px 20px 20px;
  border-color: #4bc0c0;
  color: #4bc0c0;
}

.noResults {
  font-size: 20px;
  margin-bottom: 10px;
}

.displaying {
  font-size: 20px;
  margin-bottom: 10px;
}

.chart {
  max-height: 50%;
  max-width: 50%;
  margin-bottom: 30px;
}